/**/
body{
  background-color: #000000;
}
.calc{
	width: 105%;
	margin: 5px auto;
	border-radius: 400px;
	background-color:	#000000;
}
.container{
	border-radius: 24px;
}
.botao{
	font-size: 20px;
	height: 80px;
  background-color:	#000000;
  color: white;
}
.boto{
  font-size: 20px;
  background-color: #000000;
  color: #1E90FF;
}
.bto{
  font-size: 20px;
  background-color: #000000;
  color: #1E90FF;
  text-align: center;
}
.inp{
	font-size: 25px;
	height: 90px;
}
#display {
	background-color: #000000;
}

